@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
*
body {
  font: 18px "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*
body:before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("bg.jpeg") no-repeat center;
  background-size: cover;
  -webkit-animation: backgroundZoomAnimate 20s forwards;
          animation: backgroundZoomAnimate 20s forwards;
}

@-webkit-keyframes backgroundZoomAnimate {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes backgroundZoomAnimate {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.profile-card {
  position: relative;
  width: 450px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
          box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-card:hover {
  height: 520px;
}

.imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
          box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.profile-card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profile-card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.profile-card .content .profile-card__desc {
  padding: 40px;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.profile-card:hover .content .profile-card__desc {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.profile-card .content .profile-card__desc h1 {
  font-size: 1.25em;
  font-weight: 600;
  color: #555 line-height 1.2em;
}

.profile-card .content .profile-card__desc h1 span {
  font-size: 0.75em;
  font-weight: 500;
  opacity: 0.5;
}

.profile-card .content .profile-card__desc h2 {
  font-size: 15px;
  font-weight: 400;
  opacity: .8;
}

.profile-card .content .profile-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
}

.profile-card .content .profile-card__info h3 {
  font-size: 1em;
  color: black;
  line-height: 1.2em;
  font-weight: 600;
}

.profile-card .content .profile-card__info h3 span {
  font-size: 0.85em;
  font-weight: 400;
  opacity: 0.5;
}

.profile-card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .profile-card__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
}

.profile-card__actions__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile-card__actions__social a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: a11 .2s;
  transition: a11 .2s;
}

@media screen and (max-width: 768px) {
  .profile-card__actions__social a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .profile-card__actions__social a:hover {
    -webkit-transform: scale(1.2) translateY(-5px);
            transform: scale(1.2) translateY(-5px);
  }
}

.profile-card__actions__social a.Facebook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  -webkit-box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
          box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}

.profile-card__actions__social a.Instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
          box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
}

.profile-card__actions__social a.Linkedin {
  background: linear-gradient(45deg, #0072b1, #0a7ebd);
  -webkit-box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
          box-shadow: 0 4px 30px rgba(19, 127, 212, 0.7);
}

.profile-card__actions__social a.Youtube {
  background: linear-gradient(45deg, #b11212, #FF0000);
  -webkit-box-shadow: 0 4px 30px rgba(163, 17, 17, 0.6);
          box-shadow: 0 4px 30px rgba(163, 17, 17, 0.6);
}

.profile-card__actions .blue {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
  min-width: 180px;
  border-radius: 40px;
  text-align: center;
  color: black;
  cursor: pointer;
  margin-top: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media screen and (max0width: 768px) {
  .profile-card__actions .blue {
    min-width: 170px;
  }
}

@media screen and (max-width: 576px) {
  .profile-card__actions .blue {
    min-width: inherit;
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .profile-card__actions .blue .blue:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
}

.profile-card__actions .blue .blue {
  background: linear-gradient(45deg, #8f4242, #1c5b99);
  -webkit-box-shadow: 0 4px 30px rgba(93, 106, 116, 0.4);
          box-shadow: 0 4px 30px rgba(93, 106, 116, 0.4);
}

.profile-card__actions .blue .blue .blue:hover {
  -webkit-box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
          box-shadow: 0 7px 30px rgba(19, 127, 212, 0.75);
}

.profile-card__actions .blue .orange {
  background: linear-gradient(45deg, #d5135a, #f05924);
  -webkit-box-shadow: 0 4px 30px rgba(223, 45, 70, 0.35);
          box-shadow: 0 4px 30px rgba(223, 45, 70, 0.35);
}

.profile-card__actions .blue .orange:hover {
  -webkit-box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
          box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}
/*# sourceMappingURL=style.css.map */